@import "tailwindcss";

@theme {
  --font-heading: "Baloo 2", sans-serif;
  --font-sans: "Nunito", sans-serif;

  --color-background: #141414;
  --color-surface: #1f1f1f;
  --color-surface-hover: #292929;
  --color-accent: #c97b3d;
  --color-accent-hover: #db9257;
  --color-text-primary: #ededed;
  --color-text-secondary: #808080;
  --color-border: #333333;
  --color-error: #e5484d;
  --color-toggle: #00008b;
}

[data-theme="light"] {
  --color-background: #faf8f3;
  --color-surface: #ffffff;
  --color-surface-hover: #f1ede4;
  --color-accent: #0099ff;
  --color-accent-hover: #aaddff;
  --color-text-primary: #242424;
  --color-text-secondary: #6b6b6b;
  --color-border: #e0dcd3;
  --color-error: #c9302c;
  --color-toggle: #1f1f2e;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
}
